@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR');
@font-face {
    font-family: 'SANJUGotgam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body, p { margin: 0; }
body {
    background-color: antiquewhite;
}
#box1 {
    position: absolute;
    left: 100px;
    top: 100px;
    background-color: #ffffff;
    font-family: 'SANJUGotgam';
    font-size: 72px;
    z-index: 2000; /* 레이어 순서. 숫자가 클수로 위에 배치됨 */
}
#box1 > p {
    padding-bottom: 12px;
    border-bottom: dashed 3px #000;
}
#box2 {
    position: absolute;
    width: 50vw;
    left: 100px;
    top: 200px;
    padding: 20px;
    background-color: #ffffff;
    overflow: hidden; /* 내용이 넘칠 경우 처리 방법*/
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}