@font-face {
  font-family: 'PyeongChangPeace-Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/PyeongChangPeace-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

#main_box{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 65%;
    height: 100%;
    transform: translate(-50%, -50%);
    padding: 30px;
    background-color: rgb(255, 255, 255);
    border: solid 2px rgba(0, 0, 0, 0.826);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
     z-index: 1000; /* 특정 요소(레이어)를 다른 요소의 위에 배치할 때 z-index 값이 크면 됨 */
}

#back01_box{
    position: fixed; /* 브라우저가 크기 변해도 변동x*/
    left: ;
    width: 15%;
    height: 100%;
    background-image: url("main1.png");
    background-size: cover;
    background-position-y: center;
    animation-name: imge1; /* 키프레임 애니메이션 이름 */
    animation-duration: 3s; /* 애니메이션의 전체 길이, 시간 */
    animation-iteration-count: infinite; /* 반복 횟수, 무한 반복인 경우 infinite */
}
@keyframes imge1 {
    0%{
        top: -10px;
    }
    50%{
        top: 10px;
    }
    100%{
        top: -10px;
    }
}


#back02_box{
        position: fixed; /* 브라우저가 크기 변해도 변동x*/
        left: 85.5%;
        width: 14.5%;
        height: 100%;
        background-image: url("main2.png");
        background-size: cover;
        background-position-y: center;
        animation-name: imge2; /* 키프레임 애니메이션 이름 */
        animation-duration: 3s; /* 애니메이션의 전체 길이, 시간 */
        animation-iteration-count: infinite; /* 반복 횟수, 무한 반복인 경우 infinite */
   
    }

    @keyframes imge2 {
        0%{
            top: 10px;
        }
        50%{
            top: -10px;
        }
        100%{
            top: 10px;
        }
    }

    #back01_box{width: 12.5em;}
    #back02_box{width: 12.5em;}


/* header 부분*/
#item-grid {
  position: relative;
  width: 100%;
  background-image: url(images/image01.jpg);
  background-size: cover;
}
    #menu {
        position: absolute;
        left: 18%;
        top: 5%;
        width: 7%;
        height: 7%;
        background-image: url("menulogo.png");
        background-size: contain;
        background-repeat: no-repeat;
        z-index: 1900; /* 특정 요소(레이어)를 다른 요소의 위에 배치할 때 z-index 값이 크면 됨 */
    } 
    
    a, a:link, a:hover, a:visited
    {
    color: #000000;
    text-decoration: none;
    }   

    #mainmenu {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 10%;
        left: 130%;
        width: 620%;
        height: 0px;
        background-color: rgba(250, 235, 215, 0);
        box-sizing: border-box;
        border: none;
        transition-duration: 0.2s; /* 애니메이션 효과 */
        overflow: hidden;
        font-family: 'PyeongChangPeace-Light'
    }

    #menu:hover > #mainmenu { /*  */
        height: 50px;
    }

    #mainmenu > ul a:hover
    {
    text-decoration: underline;
    color: gainsboro;
    }

    .menuitem {
        float: left; /* float 속성을 사용하면 block 요소를 가로로 배치할 수 있음 */
        padding: 15px;
      
      }


    #logo{
        position: absolute;
        left: 73%;
        top: 4%;
        width: 10%;
        height: 10%;
        background-image: url("menulogo02.png");
        background-size: contain;
        background-repeat: no-repeat;
         z-index: 2000; /* 특정 요소(레이어)를 다른 요소의 위에 배치할 때 z-index 값이 크면 됨 */
    }

    

   
   
    #logoimge{
        position: absolute;
        left: 50%;
        top: 50%;
        width: 35%;
        height: 45%;
        transform: translate(-50%, -50%);
        padding: 30px;
        background-image: url("title02.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
         z-index: 1000; /* 특정 요소(레이어)를 다른 요소의 위에 배치할 때 z-index 값이 크면 됨 */
        animation-name:n1;
         animation-duration: 3s;
        animation-iteration-count: 1;
        }

        @keyframes n1{
          25%{
            margin-top:60px;
          }
          50%{
            margin-top:0px;
          }
          75%{
            margin-top:60px;
            
          }
          100%{
            margin-top:0px;
          }
          
        }
    


      /* main 부분*/
      .shadow-drop-center {
        position: absolute;
        opacity: 0;
        transition: .5s ease;
        -webkit-animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
      opacity: 0.5;
      transition: .5s ease;
              }
      
/* ----------------------------------------------
 * Generated by Animista on 2022-6-17 2:17:16
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shadow-drop-center
 * ----------------------------------------
 */
 @-webkit-keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}
@keyframes shadow-drop-center {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
            box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
  100% {
    -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
            box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
  }
}

#imge1:hover.shadow-drop-center{
  opacity: 1;
}

#imge2:hover.shadow-drop-center{
  opacity: 1;
}

#imge3:hover.shadow-drop-center{
  opacity: 1;
}

#imge4:hover.shadow-drop-center{
  opacity: 1;
}

#imge2-1:hover.shadow-drop-center{
  opacity: 1;
}

#imge2-2:hover.shadow-drop-center{
  opacity: 1;
}



    #titletext_box {
        position: relative;
        left: 50%;
        top:130vh;
        width: 20%;
        height: 5%;
        background-color: #db797900;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
        font-family: 'PyeongChangPeace-Light';
        font-size: 35px;
      }

   
    #imge1{
        position: absolute;
        left: 50%;
        top: 150vh;
        width: 60%;
        height: 70%;
        background-color: #db797900;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
        background-size: cover;
        background-position-y: center;
      }

      #imge1>img {width: 100%;
        height: 100%;
        background-size: contain;
        background-position-y: center;}



      .textbox {
        font-family: 'SuncheonB';
        display: block;
        position: absolute;
        top: 220vh;
        left: 50%;;
        width: 100%;
        height: 60px;
        background-color: #dadd7c00;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 2000;
        text-align: center;
        font-family: 'PyeongChangPeace-Light'
        }


      #imge2{
        position: absolute;
        left: 50%;
        top: 250vh;
        width: 60%;
        height: 70%;
        background-color: #db797900;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
        background-size: contain;
        background-position-x: center;
      }

      #imge2>img {width: 35%;
        height: 100%;
        background-size: contain;
        background-position-y: center;}

      .textbox2 {
        font-family: 'SuncheonB';
        position: absolute;
        top: 320vh;
        left: 50%;;
        width: 100%;
        height: 60px;
        background-color: #f7ff0800;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 12000;
        text-align: center;
        font-family: 'PyeongChangPeace-Light'
        }

    
      #imge3{
        position: absolute;
        left: 50%;
        top: 350vh;
        width: 60%;
        height: 70%;
        background-color: #db7979;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
        background-size: cover;
        background-position-y: center;
      }
      #imge3>img {width: 100%;
        height: 100%;
        background-size: contain;
        background-position-y: center;}


      .textbox3 {
        font-family: 'SuncheonB';
        position: absolute;
        top: 420vh;
        left: 50%;;
        width: 100%;
        height: 60px;
        background-color: #dadd7c00;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 2000;
        text-align: center;
        font-family: 'PyeongChangPeace-Light'
        }


      #imge4{
        position: absolute;
        left: 50%;
        top: 450vh;
        width: 60%;
        height: 70%;
        background-color: #db7979;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
        background-size: cover;
        background-position-y: center;
      }
      #imge4>img {width: 100%;
        height: 100%;
        background-size: contain;
        background-position-y: center;}


      .textbox4 {
        font-family: 'SuncheonB';
        position: absolute;
        top: 520vh;
        left: 50%;;
        width: 100%;
        height: 60px;
        background-color: #dadd7c00;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 2000;
        text-align: center;
        font-family: 'PyeongChangPeace-Light'
        }

      #imge5{
        position: absolute;
        left: 50%;
        top: 550vh;
        width: 60%;
        height: 70%;
        background-color: #db797900;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
      }
      #imge5 > iframe{
        width: 100%;
        height: 100%;
      }

      .textbox5 {
        font-family: 'SuncheonB';
        position: absolute;
        top: 620vh;
        left: 50%;;
        width: 100%;
        height: 60px;
        background-color: #dadd7c00;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 2000;
        text-align: center;
        font-family: 'PyeongChangPeace-Light'
        }


         /* 팀플 작업부분*/
      #titletext_box2 {
        position: absolute;
        left: 50%;
        top: 690vh;
        width: 20%;
        height: 5%;
        background-color: #db797900;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
        font-family: 'PyeongChangPeace-Light';
        font-size: 35px;
      }

      #imge2-1{
        position: absolute;
        left: 50%;
        top: 710vh;
        width: 60%;
        height: 70%;
        background-color: #db7979;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
        background-size: cover;
        background-position-y: 25%;
      }

      #imge2-1>img {width: 100%;
        height: 100%;
        background-size: contain;
        background-position-y: center;}


      .textbox2-1 {
        font-family: 'SuncheonB';
        position: absolute;
        top: 780vh;
        left: 50%;;
        width: 100%;
        height: 60px;
        background-color: #dadd7c00;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 2000;
        text-align: center;
        font-family: 'PyeongChangPeace-Light'
        }

      #imge2-2{
        position: absolute;
        left: 50%;
        top: 820vh;
        width: 60%;
        height: 70%;
        background-color: #db7979;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
      }

      #imge2-2 > img{
        position: relative;
        width: 100%;
      }

      .textbox2-2 {
        font-family: 'SuncheonB';
        position: absolute;
        top: 1480vh;
        left: 50%;;
        width: 100%;
        height: 60px;
        background-color: #dadd7c00;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 2000;
        text-align: center;
        font-family: 'PyeongChangPeace-Light'
        }

      #imge2-3{
        position: absolute;
        left: 50%;
        top: 890vh;
        width: 60%;
        height: 70%;
        background-color: #db7979;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
      }

      #imge2-4{
        position: absolute;
        left: 50%;
        top: 980vh;
        width: 60%;
        height: 70%;
        background-color: #db7979;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
      }

      #end{
        position: absolute;
        left: 50%;
        top: 1510vh;
        width: 60%;
        height: 10%;
        background-color: #70acff00;
        transform: translate(-50%, 0);
        font-size: 25px;
        z-index: 1000;
        text-align: center;
        font-family: 'PyeongChangPeace-Light';
      }

      
      @media screen and (max-width: 960px) {
        main {
            height: 5vw;
        }
        #imge1 {
          width: 50%;
          height: 30%;
        }
        .textbox {
          top: 280vw;
        }
        #item-container0 {
            margin-left: 0;
        }
        .item-container {
            width: 50%;
            padding-top: 50%;
        } 
        #social {
            display: none;
        }
    }
    
    @media screen and (max-width: 520px) {
        main {
            height: 370vw;
        }
        #item-container0 {
            margin: 0;
        }
        .item-container {
            width: 100%;
            padding-top: 100%;
        } 
    }
