@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

body, p { margin: 0; }
#box1 {
    position: relative;
    width: 100vw; /* vw-뷰포트기준 꽉 채우기 위해 50=반만 줄여져서 보임 */
    height: 56.25vw; /* 영상 /16:9비율=100:X 계산해야함 -> 16*X=900 */
    left: 0;
    top: 0;
    background-color: #000000;
}
#box1 > video {
    width: 100%;  /* 박스1 요소안의 비디오 크기 */
    height: 100%; 
}
#box1 > p { 
    position: absolute; /* absolute=겹치는부분태그 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   /* 폰트 기준점 정하는 태그 */
    font-family: 'Oswald', sans-serif;  /* 폰트 */
    font-size: 3vw; /* 폰트 크기- vw때문에상태크기로 변화  */
    color: rgba(255, 255, 255, 0.0);  /* 텍스트 색상 */
}
