body { /* 코멘트 */
    background-color: rgb(250, 235, 215);
    
}
.box1{
    display: block;
    position: relative;
    width: 300px;
    height: 300px;
    left: 200px;
    top: 100px;
    float: left;
    background-color: rgb(231, 106, 34);
    overflow: visible;
}

